@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap");
body {
  font-family: "Rubik", sans-serif;
  max-width: 1920px border-box;
}

.button {
  cursor: pointer;
}

#about,
#contacts,
#stages,
#reviews,
#services {
  scroll-margin: 170px;
}
#questions {
  scroll-margin: 320px;
}

/* стили для хедера */
.header {
  position: fixed;
  z-index: 100;
  top: 0px;
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbf6f0;
}

.header__wrapper {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: block;
  width: 175px;
  height: 56px;
  background-image: url(../images/logo.svg);
  background-repeat: no-repeat;
}

.header__list {
  display: flex;
  list-style-type: none;
  gap: 55px;
}

.header__link {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #212426;
}

.header__link:visited {
  text-decoration-line: underline;
}
.header__link:hover {
  text-decoration-line: underline;
}
.header__link:active {
  text-decoration-line: underline;
}

.header__button {
  width: 186px;
  height: 57px;
  background: none;
  border: 1px solid #212426;
  cursor: pointer;
}
/* конец стилей для хедера */

/* стили для блока описания (сразу после хедера) */
.description {
  margin: 0 auto;
  margin-top: 195px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
}

h1 {
  margin: 0px;
  font-weight: 400;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #212426;
}

.description__about {
  max-width: 386px;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  color: #212426;
  margin: 16px 0px 22px;
}

.description__button,
.about__button,
.benefits__button,
.stages__button {
  width: 274px;
  height: 57px;
  border: none;
  background: #fadbb8;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
}

.description__photo {
  position: relative;
}

.description__photo_border {
  position: absolute;
  bottom: 30px;
  left: 30px;
  border: 1px solid rgba(33, 36, 38, 0.6);
  width: 541px;
  height: 799px;
}

.description__img {
  position: relative;
  width: 541px;
  height: 799px;
  z-index: 10;
}
/* конец стилей для блока описания (сразу после хедера) */

/* стили для секции "Услуги" */
.services {
  width: 1110px;
  margin: 140px auto 100px;
  text-align: center;
}

.services__text {
  margin-bottom: 90px;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #212426;
}

.services__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
}
.wrapper__block {
  margin-bottom: 120px;
  max-width: 300px;
  max-height: 250px;
}
.wrapper__block_number {
  width: 165px;
  height: 60px;
  font-weight: 500;
  font-size: 148px;
  line-height: 60px;
  letter-spacing: -1px;
  color: rgba(228, 198, 164, 0.2);
}
.wrapper__block_event {
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #212426;
  margin: -50px 0px 0px 0px;
}
.description__about {
  font-weight: 300;
  font-size: 18px;
  line-height: 140%;
  color: #212426;
  margin: 0px 0px 30px 0px;
}

/* конец стилей для секции "Услуги" */

/* стили для секции "Обо мне" */

.about {
  width: 1110px;
  margin: 0px auto 130px;
  display: flex;
  justify-content: space-between;
}
.about__photo {
  position: relative;
}
.about__img {
  max-width: 540px;
  max-height: 703px;
  position: relative;
  z-index: 10;
}
.about__photo_border {
  position: absolute;
  bottom: 30px;
  right: 30px;
  border: 1px solid rgba(33, 36, 38, 0.6);
  width: 540px;
  height: 711px;
}

.about__text {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #212426;
}

.about__about {
  max-width: 487px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #212426;
}

.about__button {
  width: 240px;
  margin-top: 40px;
}
/* конец стилей для секции "Обо мне" */

/* стили для секции "Преимущества работы" */
.benefits {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/bg_benefits_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}
.benefits__text {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: -1px;
  color: #ffffff;
}
.benefits__wrapper {
  display: flex;
  gap: 30px;
}
.benefits__block {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.benefits__block_number {
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.3);
  border-bottom: solid;
}

.benefits__block_wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-top: 20px;
  width: 350px;
  height: 160px;
  background: rgba(251, 246, 246, 0.3);
  padding: 40px 30px;
}
.benefits__block_text {
  margin: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #fffafa;
}

.benefits__button {
  margin: 35px 0px;
}

/* конец стилей для секции "Преимущества работы" */

/* стили для секции "Этапы работы" */

.stages {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1110px;
  margin: 0px auto 100px;
}
.stages__text {
  margin: 0px 0px 80px;
  width: 345px;
  height: 57px;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #212426;
}
.stages__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.stages__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
}
.stages__description_wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}
.stages__description_img {
  max-width: 50px;
  max-height: 50px;
}
.stages__description_text {
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #212426;
  border-bottom: 1px solid #eed2b2;
  padding-bottom: 13px;
}

.stages__photos {
  display: flex;
  gap: 15px;
}
.stages__photos_small {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.stages__photo_item {
  max-width: 240px;
  max-height: 234px;
}
.stages__photo_item-big {
  max-width: 445px;
  max-height: 481px;
}

/* конец стилей для секции "Этапы работы" */

/* стили для секции "Отзывы" */
.reviews {
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 0;
}
.reviews__text {
  width: 191px;
  height: 57px;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #212426;
}
.father {
  max-width: 1110px;
  height: 370px;
  position: relative;
}
.swiper {
  max-width: 1110px;
  height: 370px;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
  max-width: 920px;
}
.swiper-slide {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swiper-slide video {
  width: 445px;
  height: 230px;
}

.father .swiper-button-next::after,
.father .swiper-button-prev::after {
  color: #212426;
  font-size: 30px;
}
.father .swiper-button-next::after {
  margin-right: -200px;
}
.father .swiper-button-prev::after {
  margin-right: 200px;
}

.swiper .swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  background-color: #212426;
}

/* конец стилей для секции "Отзывы" */

/* стили для секции "вопросы" */
.questions {
  display: flex;
  max-width: 1110px;
  height: 427px;
  margin: 0px auto 120px;
  background: #221e1e;
  outline: 1px solid rgba(13, 5, 2, 0.45);
  outline-offset: 33px;
}

.questions__img_wrapper {
  width: 500px;
  height: 100%;
  position: relative;
}
.questions__img {
  position: absolute;
  bottom: 0px;
  left: 100px;
  max-width: 440px;
  max-height: 658px;
}
.questions__wrapper {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.questions__header {
  margin: 0px;
  width: 315px;
  height: 38px;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #ffffff;
}
.questions__text {
  margin: 0;
  width: 304px;
  height: 21px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  opacity: 0.8;
}
.questions__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
input {
  outline: none;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.questions__contacts {
  display: flex;
  gap: 30px;
}
.questions__name {
  background: none;
}
.questions__email {
  background: none;
}
textarea {
  resize: none;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: 1px solid #ffffff;
  height: 120px;
}

.questions__button {
  color: #fff;
  width: 186px;
  height: 57px;
  background: none;
  border: 1px solid #fff;
  cursor: pointer;
}

/* конец стилей для секции "вопросы" */

/* стили для секции "контакты" */
.contacts {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/contacts_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts__header {
  width: 238px;
  height: 57px;
  font-weight: 600;
  font-size: 48px;
  line-height: 57px;
  color: #ffffff;
  margin: 80px 0px 16px;
}
.contacts__text {
  width: 851px;
  height: 38px;
  font-style: italic;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0px 0px 40px;
}
.contacts__phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__phone_icon {
  margin-bottom: 20px;
}
.contacts__phone_number a {
  width: 238px;
  height: 28px;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-decoration: none;
  color: #ffffff;
}
.contacts__social {
  display: flex;
  gap: 30px;
  margin: 36px 0px 100px;
}
.contacts__social a {
  text-decoration: none;
}

/* конец стилей для секции "контакты" */

/* стили для футера */
.footer {
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 65px;
  padding: 50px 400px 109px;
  box-sizing: border-box;
  background: #1a1a1a;
}
.footer__text {
  display: flex;
  flex-direction: column;
}
.footer__text_logo img {
  width: 250px;
  height: 20px;
}
.footer__text_description {
  max-width: 226px;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
}

.footer__links_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 534px;
}
.footer__links_item {
  flex-basis: 33%;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 16px;
}
.footer__links_item a {
  text-decoration: none;
  color: #fff;
}
.footer__links_item:nth-child(3n + 1) {
  flex-basis: 25%;
}
.footer__links_item:nth-child(3n + 3) {
  flex-basis: 41%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 16px;
  width: 250px;
}

.footer__button {
  color: #fff;
  width: 240px;
  height: 57px;
  background: none;
  border: 1px solid #ffffff;
  cursor: pointer;
}

/* конец стилей для футера */

/*стили для всплывающих карточек услуг*/
.services-container {
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}
.services-pop-up {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 1383px;
  height: 857px;
  margin: 5% auto 0;
  background-color: #fff;
}
.services-pop-up__remove {
  border: none;
  color: #444547;
  white-space: nowrap;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  position: absolute;
  font-size: 40px;
  right: 10px;
  top: 3px;
  font-weight: 300;
}
.services-pop-up__img {
  width: 444px;
  height: 597px;
}
.services-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 597px;
  padding-bottom: 97px;
}
.services-header {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #212426;
  margin: 0;
}
.services-price,
.services-item {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.services-list {
}
.services-item {
  text-align: start;
  margin-bottom: 24px;
  list-style-type: none;
}
.services-item::before {
  content: "\2022";
  margin-right: 15px;
}

.services__button {
  background-color: #eed2b2;
  width: 186px;
  height: 57px;
  border: none;
  margin-left: 40px;
}

/*конец стилей для всплывающих карточек услуг*/

/*стили для всплывающей карточки*/
.overlay-container {
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
}

.pop-up {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
  width: 754px;
  height: 454px;
  margin: 15% auto 0;
  background-color: #fff;
}

.pop-up__remove {
  border: none;
  color: #444547;
  white-space: nowrap;
  padding: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  position: absolute;
  font-size: 40px;
  right: 10px;
  top: 3px;
  font-weight: 300;
}

.pop-up__text {
  align-self: end;
  font-style: italic;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #212426;
  width: 347px;
  height: 56px;
  margin: 50px 50px 0px 0px;
}

.pop-up__img {
  position: absolute;
  bottom: 0px;
  left: 40px;
  width: 262px;
  height: 392px;
}

.pop-up__wrapper {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  background: #221e1e;
  width: 638px;
  height: 256px;
  margin: 12px;
  outline: 1px solid rgba(13, 5, 2, 0.45);
  outline-offset: 12px;
}

.pop-up__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-right: 60px;
  padding-left: 0px;
}

.pop-up__item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  width: 275px;
  height: 57px;
  border: 1px solid #ffffff;
}

.pop-up__link {
  text-decoration: none;
  color: #fff;
  align-self: center;
}

.active {
  display: block;
}
/*конец стилей для всплывающей карточки*/
